<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haocai.base.cloudbase.mapper.TicketCategoryMapper" >
    <resultMap id="BaseResultMap" type="com.haocai.base.cloudbase.entity.TbTicketCategory" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="tc_uuid" property="tcUuid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
  	    id, tc_uuid, name
    </sql>
    <!--根据id查询-->
    <select id="selectById" resultType="com.haocai.base.cloudbase.entity.TbTicketCategory" parameterType="java.lang.Long" >
        select *
        from tb_ticket_category
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM tb_ticket_category
        <include refid="ticketCategoryPageWhere"/>
    </select>

    <select id="findPage" resultType="com.haocai.base.cloudbase.entity.TbTicketCategory">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_ticket_category
        <include refid="ticketCategoryPageWhere"/>
        LIMIT #{page.pageSize} OFFSET #{page.pageFrom}
    </select>

    <sql id="ticketCategoryPageWhere">
        WHERE  1=1
        <if test="name != null and name != ''">
            AND name LIKE concat ('%', #{name}, '%')
        </if>
        <!--<if test="startTime != null">
            AND t.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND t.create_time &lt;= #{endTime}
        </if>-->
    </sql>
</mapper>